# --- Python Core ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
releases/
release/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.spec
MANIFEST

# --- Environments & Secrets ---
.env
.venv
env/
venv/
ENV/
*.bak/
/data/

# --- Logs ---
logs/
*.log

# --- IDEs ---
.idea/
*.iml
*.iws
.vscode/
.github/
!.github/workflows/
